/* Styles for seem */
body {
    font-family: Helvetica, Arial, sans-serif;
    color:#444;
    font-size:11px;
}

/*Links*/
a:link,
a:visited
{
    color:#666;
    text-decoration:underline;
}
a:hover,
a:active
{
    color:#999;
}

/*
 *Header
 */

#logo {

    display:block;
    float:left;

    }

#header {

    border-bottom:5px solid #222;
    padding-bottom:10px;

}

#site-name a{


    font-family: "Coda";
    color:#222;
    font-size:52px;
    line-height:42px;
    vertical-align: center;
    font-weight:normal;
    text-decoration:none;
    text-transform:uppercase;
    text-shadow:2px 2px 0px #ccc;

    margin-bottom:5px;


}

#site-slogan {

    color:#999;
    font-size:36px;
    font-family:  Times New Roman, serif;
    font-family: "Vollkorn";
    font-weight:bold;
    font-style:italic;
    padding-bottom:10px;
    text-shadow:2px 2px 0px #666;
    border-bottom:2px solid #444;
    margin-bottom:3px;

}
